/* Specification */
@font-face {
	font-family: 'Gill Sans MT';
	src: local('GILB');
	src: url('../fonts/GillSansMT-Roman.eot'); /* IE9 Compat Modes */
	src: url('../fonts/GillSansMT-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/GillSansMT-Roman.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/GillSansMT-Roman.woff') format('woff'), /* Pretty Modern Browsers */
		url('../fonts/GillSansMT-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../fonts/GillSansMT-Roman.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: normal;
}

@font-face {
	font-family: 'Gill Sans MT';
	src: local('GILBI');
	src: url('../fonts/GillSansMT-Bold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/GillSansMT-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/GillSansMT-Bold.woff2') format('woff2'),  Super Modern Browsers 
		url('../fonts/GillSansMT-Bold.woff') format('woff'), /* Pretty Modern Browsers */
		url('../fonts/GillSansMT-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../fonts/GillSansMT-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: bold;
}

body { 
	font: 400 20px "Gill Sans MT", sans-serif;
	color: #8c8f94;
	letter-spacing: 0.0008em;
}

/** {
	transition: all 0.5s ease;
}
ПРИМЕНИТЬ ТОЛЬКО К ТЕМ ЭЛЕМЕНТАМ, ГДЕ ПРОИСХОДИТ АНИМАЦИЯ*/


ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #26272d;
	padding: 0;
	margin: 0;
}

h4 {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}


p {
	padding: 0;
	margin: 0;
	font-size: 20px;
	font-weight: normal;
}

a,
a:hover {
	text-decoration: none;
}

img {
	max-width: 100%;
	object-fit: cover;
	cursor: pointer;
}

button,
/*button:hover,*/
button:focus {
	font-family: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	border-color: transparent;
	background-color: transparent; 
	margin: 0;
	padding: 0;
}

.btn {
	border-radius: 21px;
	background: #267df4;
	display: block;
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	padding: 8px 20px;
}

.btn:hover {
	background: #303e63;
	color: #fff;
	box-shadow: 0 8px 20px rgb(37 0 249 / 25%);
}

.btn:active {
	box-shadow: none
}

.btn-ghost {
	border-radius: 21px;
	border: 1px solid #26272d;
	display: block;
	text-align: center;
	font-size: 16px;
	color: #26272d;
	font-weight: normal;
	padding: 8px 30px;
}

.btn-ghost:hover {
	background: #26272d; 
	color: #fff;
}

header:hover .header-image,
section:hover .protected-image,
section:hover .map-image {
	transform: scale(1.02) ;
	-webkit-transform: scale(1.02) ;
	-moz-transform: scale(1.02) ;
}


/* Header */

.header {
	padding-top: 44px;
	background: url('../img/header-bg.jpg') no-repeat center top/cover;
}

.burger {
	position: relative;
	width: 20px;
	height: 12px;
	margin-right: 30px;
/*Alternative Burger option*/
	/*border-top: 2px solid #000;
	border-bottom: 2px solid #000;*/
}

.burger-dash {
	display: block;
	height: 2px;
	background-color: #1b1c1e;
}

.burger:before,
.burger:after{
	content:'';
	background-color: #1b1c1e;
	height: 2px;
	width: 100%;
	position: absolute;
	left: 0;
}

.burger:before {
	top:0;
}

.burger:after {
	bottom: 0;
}

.logo {
	display: block;
	background: url(..//img/logo.svg) no-repeat;
	max-width: 133px;
	height: 15px;
	margin: 0 auto;
}

.menu__link {
	font-size: 16px;
	color: #26272d;
	display: block;
}

.menu__item:not(:last-of-type) {
	margin-right: 40px;
}

.menu__link:hover,
.menu__link_demonstration {
	transition: all 0.5s ease;
	color: rgba(38,39,45,0.4);
}

.menu-btn {
	max-width: 132px;
	display: inherit;
	margin-left: 30px!important;
}

.menu-btn::before {
	content:'';
	display: block;
	background: url('../img/Apple_Icon.png');
	width: 16px;
	height: 20px;
	margin-right: 12px;
	transition: all 0.5s ease;
}

.offer {
	margin: 130px auto 55px;
	text-align: center;
	max-width: 782px;
}

.offer__title {
	font-size: 62px;
	margin-bottom: 41px;
}

.offer__text {
	margin-bottom: 55px;
}

.offer__btn {
	width: 205px;
	margin: 0 auto;	
	border-radius: 25px;
	border: 1px solid #26272d;
	font-size: 16px;
	color: #26272d;
	font-weight: normal;
	padding: 12px 40px;
}

.offer__btn::before {
	content:'';
	display: block;
	background: url('../img/Play_Icon.png');
	width: 10px;
	height: 10px;
	margin-right: 15px;
	transition: all 0.5s ease;
}

.header-image {
	background: url(../img/iPhone_6.svg) no-repeat center center / contain;
	margin: 0 auto;
	max-width: 465px;
	height: 455px;
}

/* Features */

.features {
	padding: 110px 0 30px;
}

.info {	
	max-width: 505px;
}

.info__text {
	font-size: 18px;
}

.info__title {
	font-size: 26px;
	margin: 45px 0;
}

.info__text:not(:last-of-type),
.content__text:not(:last-of-type) {
	margin-bottom: 45px;
}

.info__image:hover {
	opacity: 0.7;
}

/* Protected */

.protected,
.map {
	padding: 80px 0;
	overflow: hidden;
}

.protected-image {
	max-width: 700px;
	width: 110%;
	height: 600px;
	background: url(../img/iPhone_6.1.svg) no-repeat center center / contain;
	margin-left: -100px;
}

.content {
	padding-top: 20px;
	margin-right: -30px;
	max-width: 471px;
}

.content__title {
	font-size: 42px;
	max-width: 290px;
	margin-bottom: 70px;
}

.content__btns {
	margin-top: 70px;
}

.content__btn {
	margin-right: 20px;
}

.content__btn::after {
	content: '';
    display: block;
    background: url(../img/Arrow_Icon.png);
    width: 13px;
    height: 12px;
    margin-left: 52px;
}

/* Map */

.partners {
	margin-top: 70px;
	max-width: 480px;

}

.partners__title {
	 margin-bottom:30px;
}

.partners__item:not(:last-of-type) {
    margin-right: 31px;
}

.map-image {
	max-width: 627px;
	width: 110%;
	height: 401px;
	background: url(../img/World_Map.svg) no-repeat center center / contain;
	margin: 30px 0 0 30px;
}

.partners__img:hover {
	opacity: 0.8;
}


/* Footer */

.footer {
	padding: 170px 0 210px;
}

.footer-info {
	max-width: 232px;
}

.logotype {
	text-transform: uppercase;
	font-weight: bold;
  	color: #1b1c1e;
  	letter-spacing: -0.5;
}

.logotype::after {
	content:'VIEWAPP';
	font-weight: normal;
}

.footer__text {
	font-size: 14px;
	margin: 30px 0;
}

.footer-nav__link {
	font-size: 16px;
	color: #8c8f94;
}

.footer-nav__title {
	margin-bottom: 30px;
}

.footer-nav__link_ttu {
	text-transform: uppercase;
}

.footer-nav__item:not(:last-of-type) {
    margin-bottom: 14px;
    }

/*  Responsive  */

@media (max-width: 1199.98px) {
	.protected-image {
	  	margin-left: -70px;
    }
    .map-image {
    	width: 100%;
    }
}

@media (max-width: 9991.98px) {
	.footer-info  {
		margin-bottom: 70px;
	}
	.footer {
    	padding: 100px 0 140px;
	}
	.info {	
		max-width: 600px;
  	}
  	.content {
		max-width: 600px;
		margin: 0;
	}
	.features-info {
		margin-bottom: 80px;
	}
	.map {
		padding: 0;
	}
	.partners {
		margin-bottom: 50px;
	}
	.protected-image {
    	margin-left: 0px;
    	width: 100%;
    	height: 450px;
 	}

}

@media (max-width: 7767.98px) {
	
 	.map-image {
 		margin: 0;
 	}
 	.offer {
   		padding: 100px 0 50px;
    }	
    .features {
    	padding: 70px 0 20px;
	}
	.features-info {
     	margin-bottom: 50px;
	}
	.protected, .map {
    	padding: 70px 0;
	}
	.protected-image {
		height: 400px;
	}
	.map {
    	padding: 0;
    }
    .footer {
    	padding: 70px 0 70px;
	}
	.footer-info {
    	margin-bottom: 50px;
	}
}

@media (max-width: 575.98px){
	.header-image {
		height: 240px;
	}
	.content__btn {
		width: 200px;
		margin-bottom: 30px;
	}
	.content__btn-ghos {
		width: 140px;
	}
	.offer__title {
    	font-size: 40px;
    	margin-bottom: 41px;
	}

	h2 	{
		font-size: 32px;
	}
}
	